
body {
  display: grid;
  grid-template: 10vh 80vh 10vh/1fr 80vh 1fr;
  height: 100vh;
  margin: 0;
}

#sketchpad {
  border: 1px solid black;
  height: 80vh;
  width: 80vh;
  min-height: 400px;
  min-width: 400px;
  grid-row: 2/3;
  grid-column:2/3;
  display:grid;
}

.touched {
  background-color: black;
}
